<h1> Edit Artist</h1>
<%= form_for(@artist) do |f| %>
  <label>Name:</label><br>
  <%= f.text_field :'artist[name]' %><br>
  <label>Bio:</label><br>
  <%= f.text_field :'artist[bio]' %><br>

  <%= f.submit %>
<% end %>