<h1> Create Artist</h1>
<%= form_for(@artist) do |f| %>
  <label>School Class Title:</label><br>
  <%= f.text_field :'artist[name]' %><br>
  <label>Room Number:</label><br>
  <%= f.text_field :'artist[bio]' %><br>

  <%= f.submit %>
<% end %>